<%= form_for(roast_image) do |f| %>
  <% if roast_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roast_image.errors.count, "error") %> prohibited this roast_image from being saved:</h2>

      <ul>
      <% roast_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
