.tableClass {
  display: inline-flex;
  flex-wrap: wrap;
}
tr {
  border-style: solid;
}
.like {
  text-decoration: none;
}
.indexImage {
width: 100%;
height: 280px;
}
#title {
  font-family: amarillo;
  text-shadow: 1px 1px white;
}
#showBody {
  color: black;

  text-shadow: 4px 4px lightblue;
  border-bottom-style: solid;
  font-family: amarillo;

}
.newRoast {
  font-family: angel____;
  padding-left: 110px;
}
#field1 {
  border-style: ridge;
  width: 350px;
  text-align: center;
}
body {

}

#comments {
  overflow-y: auto;
  height: 700px;
}
.commentSide {
  border-style: solid;
  text-align: center;
  overflow-y: scroll;
}
.comment_body {
  font-size: 20px;
  text-shadow: 2px 1px white;
  font-family: big caslon;
}
.user_email {
  color: white;
}
#thumb {
padding: 0;
margin: 0 auto;
}
#thumb:hover {
  text-shadow: 2px 2px lightblue;
  border-style: solid;
  border-color: black;
}
.showRoastImage {
  border-style: outset;
  width: 336px;
  height: 286px;
  border-color: lightblue;
}
.comments {
  display: inline-flex;
  float: right;
}

.user_email{
  padding-top: 16px;
  padding-left: 20px;
}
 .navStyle {
   height: 75px;
   border-style: solid;
 }
body {
  background-image: url(http://eskipaper.com/images/minimal-white-wallpaper-1.jpg);
}
 .fieldDiv {
   justify-content: center;
   text-align: center;
   border-style: solid;
   width: 250px;
   background-color: lightgray;
   border-color: lightblue;
 }
 .fieldDiv:hover {
   border-style: inset;
   border-color: darkblue;
 }
.loginDiv:hover {
  border-style: inset;
  border-color: darkblue;

}
 .loginDiv {
   justify-content: center;
   text-align: center;
   border-style: solid;
   width: 250px;
   background-color: lightgray;
   border-color: lightblue;

 }
 #signupH2, #loginH2 {
    font-family: air millhouse outline;
    font-size: 40px;
    text-shadow: 2px 2px lightblue;
 }
 #loginTitle {
   font-family: amarillo;
   font-size: 50px;
   border-style: solid;
   text-shadow: 2px 2px lightblue;
 }
